* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  font-size: 16px;
  animation: fadeIn 1s ease-in;
}

header {
  opacity: 100%;
  text-align: center;
  background-color: #3b1061;
  color: #000000;
  padding: 75px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  transition: background-color 0.5s ease;
}
header:hover {
  background-color: #2a0f48;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 25px 0;
  font-family: "Josefin Sans", sans-serif;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #3b1061;
  font-weight: bold;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #000000;
  text-decoration: underline;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
}

.contact-info, .form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.contact-info:hover, .form-container:hover {
  transform: translateY(-10px);
}

.contact-info h2, .form-container h2 {
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 10px;
}

.form-container input, .form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container input[type=submit] {
  background-color: #3b1061;
  color: white;
  border: none;
  cursor: pointer;
}

.form-container input[type=submit]:hover {
  background-color: #b784e4;
}



footer {
  text-align: center;
  background-color: #3b1061;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }
}

