header {
  opacity: 100%;
  text-align: center;
  background-color: #3b1061;
  color: #000000;
  padding: 75px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  transition: background-color 0.5s ease;
}
header:hover {
  background-color: #2a0f48;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 25px 0;
  font-family: "Josefin Sans", sans-serif;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #3b1061;
  font-weight: bold;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: #000000;
  text-decoration: underline;
}

/* TARJETAS */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
  }

.card {
  text-align: center;
  width: 100%;
  max-width: none;
  padding: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
  background-color: #b784e4;
}
.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
.card p {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}


/* TABLA DE TALLES */
.contenedor-tabla {
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-family: "Josefin Sans", sans-serif;
}

.tabla-talles {
  border-collapse: collapse;
  width: 500px;
  background-color: #ffffff;
  text-align: center;
}
.tabla-talles th,
.tabla-talles td {
  padding: 10px;
  border: solid #000000;
}
.tabla-talles tr:hover {
  background-color: #3b1061;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-guap {
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 14px;
    color: #555;
    font-family: 'DM Sans', sans-serif;
    opacity: 0.8;
}

#carrito {
  position: absolute;     
  top: 50px;
  right: 20px;
  width: 250px;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1000;         
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }
}
