* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  font-size: $base-font-size;
  animation: fadeIn 1s ease-in;
}