@media (max-width: 600px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .contact-container {
    grid-template-columns: 1fr 1fr;
  }
}