$primary-color: #3b1061;
$secondary-color: #2a0f48;
$highlight-color: #b784e4;
$text-color: #000000;
$font-family: "Josefin Sans", sans-serif;
$base-font-size: 16px;
$small-font-size: 30px;
$medium-font-size: 40px;
$large-font-size: 50px;